Welcome to ASG server
Asgard Discord https://discord.gg/asg
Rule #1 Respect all players and community members.
- Racism, sexism, homophobia, antisemitism, religious or political intolerance, or any other form of discrimination will not be tolerated and will result in a permanent ban. 
- Toxicity will not be tolerated. This is a new-player friendly server and mistakes happen. Toxicity will be penalized according to severity.

Rule #2 No advertising or solicitation. 
- Encouraging users to join a different clan or discord servers is strictly prohibited. Solicitation includes requests for gear, requests for in-game items, requests for community positions. 
- This includes using your name to promote a website, discord, clan, communities, organization etc.

Rule #3 No stream sniping/Ghosting.
- This includes joining game channels or streams to find the location of other players
- This is providing the enemy team with information that they wouldn’t normally have such as: 
  *Having someone in the opposing team giving you information
  *Telling people over the in-game chat where friendly positions are (HAB’s, FOB’s, vehicles, players, next points, etc.)
  *Giving the ticket count to the opposing team

Rule #4 Spamming or flooding the chat or voice chat is prohibited.
- Excessive loud noises, screaming, soundboard usage, hot-mic’ing, etc
- Absolutely no mic spamming/music during the staging phase
- After the staging phase in game music and sound boards are permitted as long as they are not in excess. Be respectful and considerate of volume and context.

Rule #5 Members and visitors of our Squad and Discord communities are expected to act with respect and maturity. 
- In-game or server issues should be directed towards an admin using the !admin call out in-game.
- Issues may also be reported in our Discord, but only after the issue is reported in the game. 

- Admins have the ability to interpret suspect actions and behavior and take any action they see fit in order to protect the integrity of the server and player community. This is per OWI Policy.

Rule #6 Vehicle claiming rules

- First properly named squads have priority on vehicles. (e.g  ARE allowed: “Tank”, “3x 30MM BTR”, “One Logi”, “Heli”)
- You may not claim multiple vehicle types for one squad. (e.g. BMP + X2 BTR-82A)
- Vehicles that are already occupied at the start of the round (Start of the round is after the preparation phase) cannot be overtaken by a late squad with the associating name.
- If no named squads are made for a vehicle, it is first come, first serve.
- 1-man locked squads have to be named and are only allowed for non crewman vehicles and logistics.
   *“Non crewman vehicles” 🠮 Scout Car, Open-top bulldog, logistical/transport truck, some MT-LB's, etc.
- No 1-manning vehicles that require a crewman kit.
   *Vehicles that require a crewman kit 🠮 MBT’s, IFV’s, APC’s, etc.
- You must have 2 crewmen before leaving main.
- You will not drive out of main to pick someone up.
- Incase of loss of a crewman try to save the vehicle & return to main.

General Server Rules

We strive to make the games for all parties involved fun / entertaining and not frustrating.

Rule #7 No main camping
- If your intent is to kill something coming out of main before it has a chance to join the battle that is considered main camping. This includes placing mines and/or IEDs, positioning infantry weapon emplacements, or vehicles ANYWHERE on a map within the line of sight of main specifically for killing players and destroying vehicles as they leave.

Rule #8 Squad Lead's must have a SL Kit and a mic. This includes Lead Pilot and Lead Crewman kits.
- If you create a squad you must intend to lead it, if you make a squad by accident, disband the squad.

-- Do NOT create a Squad to pass off SL so you can get a kit you’d like to play.
-- Please don’t create a Squad should you have to leave in the foreseeable future.

Rule #9 No intentional Teamkills. Apologize for all TK’s in chat. (Default key in-game is J). 
* Revenge TK’s also count under this rule (Getting team killed and team killing in retaliation). TK’s under friends and/or TK’s with good will (use the ‘respawn’ command in the in-game chat).

Rule #10 No cheating, hacking, exploiting. Exploiting known bugs and/or using known third-party tools.

Rule #11 No Griefing

Griefing includes:
* Intentional asset wasting;
* Driving/Flying vehicles off map;
* Driving/Flying vehicles into enemy positions with the intent to die/troll;
* Intentionally keeping a vehicle out of the game;
* Helicopter Ramming;
* Use of the unarmed kit;
* Intentional TK’s.

-- Player names must have at least two English characters in order to make callouts. This is to help communication between players.

-- English must be used in Command Chat. Squad-specific languages are permitted as long as English is used outside of the squad. This is to help communication between players.

-- Squad leaders can kick squad members for any reason. This is per OWI Policy and any Griefing after being kicked will be met with punishment.
-- If competitive players choose to play on our New Player Friendly server we ask that no more than 4 competitive players be on the same side/team. 

- Admins reserve the right to split up clans or communities if games become too one-sided. This includes our own community {ASG} members. This is to keep games within the server enjoyable, and not one-sided as we are a new player friendly server.

Seeding Rules

"These are specific rules designed for seeding. A server is "seeding" when it is attempting to grow its population to a sustainable rate. The population for seeding to end varies server by server and so do the rules."

1. Fight over the middle cap.
2. No FOBs on the middle cap.
3. No emplacements (mortars, TOWs, etc.)
4. No digging up enemy FOBs.
5. Live will be called at admin's discretion.
6. Logis and transports only (no armed vehicles, including MATVs, Scout Cars, etc.)
7. After live is called, emplacements and attacking the enemies FOB radio/HAB is still prohibited.