<a href="https://discord.gg/asg"> Asgard Discord</a>. <a href="https://discord.com/channels/836792343000645682/836794092879872050"> Full Rule Set</a>. <a href="https://discord.com/channels/836792343000645682/836794092879872050/1050674894242840656"> Ban Matrix</a>.

Rule #1 Respect all players and community members.
Rule #2 No advertising or solicitation. 
Rule #3 No stream sniping/Ghosting.
Rule #4 Spamming or flooding the chat or voice chat is prohibited. No mic spamming/music during staging phase.
Rule #5 Members and visitors of our Squad and Discord communities are expected to act with respect and maturity.

<a>Rule #6 Vehicle claiming rules</a>:
- First properly named squads have priority on vehicles. (e.g  ARE allowed: “Tank”, “3x 30MM BTR”, “One Logi”, “Heli”)
- You may not claim multiple vehicle types for one squad. (e.g. BMP + X2 BTR-82A)
- Vehicles that are already occupied at the end of the preparation phase cannot be overtaken by a late squad with the associating name.
- If no named squads are made for a vehicle, it is first come, first serve.
- 1-man locked squads have to be named and are only allowed for non crewman vehicles and logistics.
- No 1-manning vehicles that require a crewman kit. You must have 2 crewmen before leaving main.
- Incase of loss of a crewman try to save the vehicle & return to main.
<a>Rule #7 No main camping</a>: If your intent is to kill something coming out of main before it has a chance to join the battle that is considered main camping.

Rule #8 Squad Lead's must intend to lead their squads and have a SL Kit and a mic. This includes Lead Pilot and Lead Crewman kits.
Rule #9 No intentional Teamkills. Apologize for all TK’s in chat. (Default key in-game is J). Revenge TK’s also count under this rule (Getting team killed and team killing in retaliation).
Rule #10 No cheating, hacking, exploiting. Exploiting known bugs and/or using known third-party tools.
Rule #11 No Griefing. Including but not limited to: asset wasting, driving/flying vehicles off map or into enemy positions with intent to die, keeping a vehicle out of the game, heli ramming
-- English must be used in Command Chat. Squad-specific languages are permitted as long as English is used outside of the squad. This is to help communication between players.
-- <a>Squad leaders can kick squad members for any reason</a>. This is per OWI Policy and any Griefing after being kicked will be met with punishment.
-- If competitive players choose to play on our New Player Friendly server we ask that no more than 4 competitive players be on the same side/team. 
- Admins reserve the right to split up clans or communities if games become too one-sided. This includes our own community {ASG} members.
Seeding Rules:
- Fight over the middle cap.
- Do not build or destroy ANY FOBs and/or radios while not live.
- Keep building fair and fun for both sides.
