// {{ ansible_managed }}

{% for remote in server.remote_admin_hosts %}
{{ remote }}
{% endfor %}

{% for adminlist in server.remote_admin_list %}
http://asgard.orion-technologies.io:8000/?grpName={{ adminlist | regex_replace(' ', '%20') }}
{% endfor %}
